
.crausel-container {
  position: relative;
  width: 100%;
  overflow-x: scroll;
}

.crausel-container::-webkit-scrollbar {
  display: none;
}

.crausel-container .slider {
  display: flex;
  flex-direction: row-reverse;
  width: auto;
  align-items: center;
  height: 100%;
  position: absolute;
}

